<form method="post">
    <div>
        <label>New password</label>
        <input type="password" name="password" />
    </div>

    <div>
        <label>Confirm password</label>
        <input type="password" name="repassword" />
    </div>

    <input type="submit" />
</form>