@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <partial name="_Navigation"/>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            @RenderBody()
        </div>
    </div>
</div>


@section Footer
{}
