@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>500 - An internal error has occured</title>
    <link href="~/styles/500_error_styles.css" rel="stylesheet" />
</head>
<body>
<div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
    <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
    </spaguetti>
</div>

<script src="~/js/500_error.js"></script>
</body>
</html>