@model List<ProductViewModel>

@{
    ViewBag.Title = "Welcome Page";
}

@{
    Layout = "_HomeLayout";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Northwind Shop</h1>
    <p class="lead">Have time tp buy first!</p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        @foreach (var product in Model)
        {
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@product.Name</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@product.UnitPrice</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>@product.CategoryName</li>
                        <li>@product.SupplierName</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy Now</button>
                </div>
            </div>
        }
    </div>
</div>