@model List<CategoryViewModel>

<div id="categories-container">
    <div class="text-center">
        <h1>Categories</h1>
    </div>
    @foreach (var category in Model)
    {
        <div class="row m-3">
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">@category.Description</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-action="EditCategory" asp-controller="Category" asp-route-id="@category.Id">Edit category</a>
                        <a northwind-id="@category.Id">Image</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Footer
{
    <div class="alert alert-danger text-center" role="alert">
        <p>
            The ordinary user can't edit categories <cite>(Will be added later)</cite>
        </p>
    </div>
}
