#products-container a {
    color: black;
}

#products-container a:hover {
    text-decoration: none;
    color: blueviolet;
}

#products-container i {
    padding-right: 5px;
}

.pricing-header {
    max-width: 700px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.home-sidebar a {
    color: black;
}

.home-sidebar a:hover {
    color: blueviolet;
}